@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.more-btn {
    display: inline-block;
    padding: 0 5px;
    background: var(--main-color);
    border-radius: 3px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 16px;
    color: var(--second-bg-color);
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s ease;
}

.portfolio h2 {
    margin-bottom: 5rem;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
}

.portfolio-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.portfolio-box h3 {
    font-size: 2.6rem;
}























@keyframes showRight {
    100% {
        width: 0;
    }
}


@media(max-width:950px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
}
