footer {
    margin-top: 1px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center; 
}

.link {
    display: inline-block;
}

.mainlink {
    margin-top: 150px;
    position: relative;
    right: 0;
    bottom: 25px;
    left: 0;
    padding: 10px;
    text-align: center; 
}
