* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover, a:active {
    color:darkcyan;
}

body {
    background-image: url('Images/still-working.jpg');
    background-color: #081b29;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    color: #00abf0;
    font-size: 32px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150x;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    color: black;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px;
}

.clr {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
    overflow:hidden ;
}

#main-header { 
    background-image: linear-gradient(to left, lightgray, whitesmoke);
    color: lightgray;
    padding-left: 20px;
}

#navbar {
    background-color: lightgray;
    color: whitesmoke;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align:justify;
}

#showcase h1 {
    color: black;
    font-size: 20px;
    line-height: 1px;
    padding-top: 20px;
    text-transform: uppercase;
    padding-left: 20px;
}

#showcase ul {
    list-style-position: inside;
    list-style-type: disc;
    color: whitesmoke;
}

#main {
    float: left;
    width: 60%;
    padding: 0 30px;
    box-sizing: border-box;
}

#main ul {
    list-style-type: disc;
}

#main h1, #sidebar h1 {
    list-style-type: disc;
    text-transform: uppercase;
    font-size: 22px;
}

#sidebar {
    float: right;
    width: 40%;
    background: lightgray;
    color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#sidebar ul {
    list-style-type: disc;
}

.experience {
    font-weight: bold;
}

#main-footer {
    background-color: lightgray;
    color: whitesmoke;
    position: absolute;
    left: 0;
    margin-top: 50px;
    bottom: 1;
    width: 100%;
    text-align: center
}

@media(max-width:950px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
}
