body {
    background-color: lightskyblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.clr {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
    overflow:hidden ;
}

#main-header { 
    background-image: linear-gradient(to left, midnightblue, whitesmoke);
    color: navy;
    padding-left: 20px;
}

#navbar {
    background-color: midnightblue;
    color: whitesmoke;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url('Images/bg.jpg');
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align:justify;
}

#showcase h1 {
    color: whitesmoke;
    font-size: 20px;
    line-height: 1px;
    padding-top: 20px;
    text-transform: uppercase;
    padding-left: 20px;
}

#showcase ul {
    list-style-position: inside;
    list-style-type: disc;
    color: whitesmoke;
}

#main {
    float: left;
    width: 80%;
    padding: 0 30px;
    box-sizing: border-box;
}

#main ul {
    list-style-type: disc;
}

#main h1, #sidebar h1 {
    list-style-type: disc;
    text-transform: uppercase;
    font-size: 22px;
}

#sidebar {
    float: right;
    width: 20%;
    background: midnightblue;
    color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#sidebar ul {
    list-style-type: disc;
}

.experience {
    font-weight: bold;
}

#main-footer {
    background-color: midnightblue;
    color: whitesmoke;
    position: absolute;
    left: 0;
    margin-top: 50px;
    bottom: 1;
    width: 100%;
    text-align: center
}

@media(max-width:500px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
}
