body {
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow:hidden ;
}

#main-header { 
    background-color: lightskyblue;
    color: whitesmoke;
}

#navbar {
    background-color: midnightblue;
    color: whitesmoke;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url('Images/bg.jpg');
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color: whitesmoke;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background: midnightblue;
    color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer {
    background-color: midnightblue;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
}
